### R
PATH_add tools
# force radian to use the R binary we have chosen by resetting the r alias
# https://github.com/randy3k/radian#how-to-switch-to-a-different-r-or-specify-the-version-of-r
alias radian="radian --r-binary=tools/R"
alias r="radian --r-binary=tools/R"

### NodeJS (for the JSON schema validator)
# https://github.com/direnv/direnv/wiki/Node#using-the-layout-node-directive
layout node
