/renv
/node_modules
/.vscode
/.Rproj.user
/.Rhistory
/.RData
/Rplots.pdf
/.Ruserdata
/*.Rproj
# *_files and *_cache are temporary directories that should normally be removed
# automatically after vignette rebuilds, but just in case
/vignettes/**/*_files
/vignettes/**/*_cache
# sometimes we commit in the middle of things when build process has not triggered
# clean-up of generated HTML vignettes yet
/vignettes/*.html
/Meta/
inst/doc
